

/* header color*/
.container-fluid{
  width: 100px;  
  background-color:rgb(255, 255, 128);
    height: 60px;
    font-size: large;

}


/* Calcolator header */
#hcal {
border: 1px solid;
height: 60px;
position: relative;
left: 20px;
width: 300px;
border-radius: 10px;
padding-left:15px ;
}

#calc{
  position: relative;
  background-color: #dbdbdb60;
  border-radius: 10px;
  width:fit-content;
  padding: 18px;
  margin: 5%auto;
  height: fit-content;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

#calc input,select{
  background-color: #e0dddd;
  border-color: #f5f5f5;
  
}
#calc input:hover{
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
#calc select:hover{
  box-shadow: 0 0 10px rgb(254, 255, 254);
}
#calc button:hover{
  box-shadow: 0 0 10px rgb(254, 255, 254);
}


/*--------------------------------------------*/

.text-center{
 
 align-items: center;
 justify-content: center;
 

  backdrop-filter: blur(2px);
}


#footer1 {
    
  margin-top: auto; 
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
    color:#010101;
  }
  
  .footer-basic{
  margin-top: 0%;
  position: static;
   bottom: 0;
   width: 100%;
   height: fit-content;
    padding-top: 20px;
   color:#010101; 
  }
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:30px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #b1b1b1;
    margin:0 8px;
    color:inherit;
    opacity:0.6;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }


  nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
}

.main-content {
    max-width: 800px;
    margin: 2em auto;
}



.day {
  background: transparent;
  backdrop-filter:blur(10px) ;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.day:hover{

  box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
}

.day h3 {
  color: #333;
}

.day ul {
  list-style: none;
  padding: 0;
}

.day ul li {
  margin-bottom: 10px;
}


/*---------------------------------------------------------*/

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

textarea {
    height: 100px;
}



/*---------------------------------------------------*/

.p1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 19px;
  text-align: center;
  margin-top: 25px;
  color: black;
}